// Variables
@import 'variables';
@import '~bootstrap/scss/bootstrap';
h2 {
	font-size: 3rem !important;
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	@include media-breakpoint-down(md) { 
		font-size: 2.25rem !important;
	}
	@include media-breakpoint-down(sm) { 
		font-size: 1.75rem !important;
	}
 }
 h3 {
	font-size: 1.5rem !important;
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: $primary;
 }
.carousel-caption {
	bottom: 38% !important;
	z-index: 1 !important;
}
a {
	&:hover {
		text-decoration: none !important;
	}
}
p {
	color: #3b3b3b;
	font-family: proxima-soft, sans-serif;
	font-weight: 500;
	font-style: normal;	
}
label {	
	font-family: proxima-soft, sans-serif;
}
.btn-primary {
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 0.95rem !important;
	border-radius: 100px !important;
	background-color: #fff !important;
	color: $primary !important;
	border-radius: 100px;
	border: $primary 1px solid !important;
	padding: 1rem 2rem;
	transition: 0.5s ease all;
	i {
		transition: 0.5s ease all;
	}
	&:hover {
		i {
			transform: rotate(720deg);
		}
	}
}
.btn-search {
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 0.95rem !important;
	border-radius: 100px !important;
	background-color: #fff !important;
	color: $primary !important;
	border-radius: 100px;
	border: $primary 1px solid !important;
	padding: 0.75rem 2rem;
	transition: 0.5s ease all;
	i {
		opacity: 0;
		transition: 0.5s ease all;
		color: $white !important;

	}
	&:hover {
		background-color: $primary !important;
		color: $white !important;
		i {
			animation-delay: 1.5s;
			transform: rotate(0deg) translateX(15px);
			opacity: 1;
		}
	}
}
.btn-secondary {
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1rem !important;
	border-radius: 100px;
	border: 0px !important;
	background-color: $primary !important;
	padding: 0.5rem 2rem;
	transition: 0.5s ease all;
	i {
		transition: 0.5s ease all;
	}
	&:hover {
		background-color: darken($primary, 15%) !important;
		i {
			transform: rotate(720deg);
		}
	}
}
.btn-inverse {
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	color: $primary;
	font-style: normal;
	font-size: 1rem !important;
	border-radius: 100px;
	border: 1px solid $primary !important;
	background-color: transparent !important;
	padding: 0.5rem 2rem;
	transition: 0.5s ease all;
	i {
		transition: 0.5s ease all;
	}
	&:hover {
		background-color: $primary !important;
		color: $white;
		i {
			transform: rotate(720deg);
		}
	}
}
.nav-link {	
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #fff !important;
	transition: 0.25s ease all;
	text-align: center;
	&:hover {
		color: #000;
	}
	@include media-breakpoint-down(md) { 
		font-size: 3rem;
		color: $primary !important;
	}
}
.navbar-nav {	
	@include media-breakpoint-down(md) { 
		top: 40%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.hover {
	background-color: #fff !important;
	color: $primary !important;
}
.rugby-ball {
	height: 20px;
	transition: 0.5s ease all;
}
.rugby-ball-hover {
	height: 20px;
	transform: rotate(720deg);
}
.overflow {
	overflow: hidden;
}
.mt-hero {
	margin-top: -70px;
}
.card-body-before {
	position: relative;
	&:after {
 		background-image: url(/images/curve.svg);
		min-height: 55px;
		width: 100%;
		position: absolute;
		content: '';
		top: -40px;
  		left: 0;
		right: 0;
		background-repeat: no-repeat;
		@include media-breakpoint-down(sm) { 
			height: 95px;
		}
 	}
}
.card-img {
	border-radius: 30px 30px 0 0 !important;
	height: 250px;
	&:before {
		background: #6cc091; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #6cc091 1%, #47557c 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #6cc091 1%,#47557c 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #6cc091 1%,#47557c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cc091', endColorstr='#47557c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */		content: '';
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 250px;
	    right: 0;
	    border-radius: 30px 30px 0 0;
	    bottom: 0;
	    opacity: 0.8;
		transition: 0.5s ease all;
	}
}
.hero-img {
	height: 660px;
	transition: ease all 2.5s;
	&:before {
		background: #6cc091; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #6cc091 1%, #47557c 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #6cc091 1%,#47557c 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #6cc091 1%,#47557c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cc091', endColorstr='#47557c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.89;
		transition: ease all 0.5s;
	}
	.curve {
		background-size: cover;
	    background-position: center bottom;
	    width: 100%;
	    height: 50%;
	    bottom: -140px;
   		position: absolute;
	}
}
.hero-player-img {
	height: 300px;
	transition: ease all 2.5s;
	&:before {
		background: #6cc091; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #6cc091 1%, #47557c 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #6cc091 1%,#47557c 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #6cc091 1%,#47557c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cc091', endColorstr='#47557c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.89;
		transition: ease all 0.5s;
	}
}
.curve{
	height: 100%;
	width: 100vw;
	position: absolute;
	content: '';
	bottom: -50%;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
}
.logo {
	position: absolute;
	left: 15px;
	z-index: 100;
	transition: ease all 0.25s;
	@include media-breakpoint-down(md) { 
		left: 15px;
	}
	img {
		width: 100px;
		transition: ease all 0.25s;
	}
}
.reduce {
	transition: ease all 0.25s;
	img {
		width: 80px !important;
		transition: ease all 0.25s;
	}
}
.h-nav {
	height: 70px;
}
.nav-position{
	right: 15px;
	position: absolute;
}
.navbar { 
	color: #fff;
	@include media-breakpoint-down(md) { 
		z-index: 2;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

}
button {
	&:focus {
		outline: 0 !important;
	}
}
.show {
	transition: ease all 0.25s;
}
.navbar-collapse {
	@include media-breakpoint-down(md) { 
		color: #fff;
		top: 0;
		margin-top: 0;
		height: 100vh;
		background-color: #fff;
		color: $primary !important;
		z-index: 5;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		color: green !important; 
		bottom: 0;
	}
}
.collapse {
	z-index: 10;
}
.p-fixed {
	position: fixed;
}
.navbar-toggler {
	border: 0 !important;
	background-color: transparent !important;
	transition: 0.25s ease;
	z-index: 30;

	.burger {
		width: 30px;
		position: relative;
		display: block;
		background-color: $white;
		height: 5px;
		margin-bottom: 5px;
		border-radius: 10px;
				transition: 0.25s ease;

		&:first-of-type {
			background-color: $white;
					transition: 0.25s ease;

		}
		&:nth-of-type(2) {
			background-color: $white;
					transition: 0.25s ease;

			opacity: 1;
		}
		&:last-of-type {
			background-color: $white;
					transition: 0.25s ease;

		}
	}
	.burger-animation {
		transition: 0.25s ease;
		&:first-of-type {
			transition: 0.25s ease;

			transform: rotate(225deg) translate(-5px, -5px)
		}
		&:nth-of-type(2) {
			transition: 0.25s ease;

			opacity: 0;
		}
		&:last-of-type {
			transition: 0.25s ease;

			transform: rotate(-225deg) translate(-9px, 9px);
		}
	}
}

//Cards
.card-deck {
	@include media-breakpoint-down(md) { 
		transform: scale(0.8);
	}
	.card {
		border-radius: 30px !important;
		text-align: center;
		border: 0 ;
		transition: ease all 0.25s;
				box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);

		&:hover {
			box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
			transform: scale(1.01);
			.card-img {
				transition: 0.9s ease all;
				&:before {
					opacity: 0;
				}
			}
		}
		.card-img-top {
			border-radius: 30px 30px 0 0 !important;
		}
		.card-header {
			border-radius: 30px !important;

		}
		.card-body {
			padding: 3rem;
			.card-title {
				color: $primary;
				font-family: fatFrank, sans-serif;
				font-weight: 700;
				font-style: normal;
			}
		}
		.card-footer {

		}
	}
}
.h3-subheader {
	font-size: 2rem;
	color: #ffffff;
	font-family: proxima-soft, sans-serif;
	font-weight: 700;
	font-style: normal;
}
.h3 {
	font-size: 2rem;
	color: #3b3b3b;
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
}
.footer {
	background-color: $primary;
	color: #fff !important;
}
.h4 {
	font-size: 1.25rem !important;
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
}
.quicklinks {
	a {
		color: #fff;
		font-size: 0.8rem;
		line-height: 0.9rem;
		padding: 0;
	}
}
.form-control {
	border-radius: 100px !important;
	font-size: 0.8rem !important;
    height: calc(1.5em + .75rem + 17px) !important;
 }
select {
	-webkit-appearance: none;
	border-radius: 100px;
	text-transform: none;
    height: 52px;
    width: 100%;
    border-radius: 100px;
    -webkit-appearance: none;
    background-color: #fff;
    padding-left: 15px;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    font-size: 0.8rem !important;
    border: 1px solid #ced4da;
    color: #3b3b3b;
}
.form-control {
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(108,192,145, 0.25) !important;
		border: 1px solid rgba(108,192,145, 0.25) !important;
	}
}
//Checkboxes
ul.phq-checkboxes {
  list-style: none;
  padding-left: 0;
}

.pt-checkboxes {
  padding-top: 10px;
}

ul.phq-checkboxes li {
  display: inline;
  label {
    display: inline-block;
    background-color: #fff;
    color: #3b3b3b;
    border: 1px solid #ced4da;
    border-radius: 100px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 12px 12px;
    font-size: 0.8rem;
    cursor: pointer;
    &::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 12px;
      padding: 2px 6px 2px 2px;
      content: "\f067";
      transition: transform .3s ease-in-out;
    }
  }
  input[type="checkbox"] {
    &:checked + label {
      &::before {
        content: "\f00c";
        transform: rotate(-360deg);
        transition: transform .3s ease-in-out;
      }
      background-color: $primary;
      color: #fff;
      border: 1px solid $primary;
      transition: all .2s;
    }
    display: absolute;
    position: absolute;
    opacity: 0;
  }
}
.green-header {
	height: 70px;
	width: 100vw;
	background-color: $primary;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.alert {
	margin-top: 5rem;
}
.h100 {
	min-height: calc(100vh - 170px);
}
.card-border {
	border: 1px solid $card-border !important;
}

.card-response-awaiting {
	border-radius: 0 0 30px 30px;
	border: 1px solid $primary;
	color: $primary;
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1rem !important;
	padding: 0.5rem 2rem;
}
.card-response-declined {
	border-radius: 0 0 30px 30px;
	background-color: $declined;
	color: $white;
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1rem !important;
	padding: 0.5rem 2rem;

}
.card-response-cancelled {
	border-radius: 0 0 30px 30px;
	background-color: $cancelled;
	color: $white;
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1rem !important;
	padding: 0.5rem 2rem;

}
.card-response-accepted {
	border-radius: 0 0 30px 30px;
	background-color: $primary;
	color: $white;
	font-family: fatFrank, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1rem !important;
	padding: 0.5rem 2rem;
}
.player-footer {
	background-color: transparent !important;
	border-top: 0 !important;

}
.response-footer {
	background-color: transparent !important;
	padding: 0 !important;
	border-radius: 0 0 100px 100px;
}
.no-scale {
	transform: scale(1) !important;
}
.available-players {
	background-color: lighten($card-border, 5%);
}